<!-- Footer -->
<footer>

    <h3>Recent Posts</h3>
    {% for post in site.categories.post | limit:10 %}

    <div class="media">
        <div class="media-body">
            <h3 class="media-heading">
                <a href="{{ post.url }}">{{ post.title }}</a>
                <small>{{ post.date | date: "%b %-d, %Y" }}</small>
            </h3>
            <span class="text-muted">{{ post.excerpt }}</span>
        </div>
    </div>

    {% endfor %}

    <br>
    <hr>
    <br>

    <div class="row">
        <div class="col-lg-10 col-md-9 col-sm-8">
            <h3>About</h3>
            <p>I am studying Computer Science and Media Design in Wellington, New Zealand. My passions are in web design/development, graphic design, creative coding and making things in general. I am currently available for hire and would be keen to work with you on your next project.</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4">
            <h3>Elsewhere</h3>
            <ul class="list-unstyled">
                <li><i class="fa fa-fw fa-twitter"></i> <a href="http://twitter.com/jackcruden">Twitter</a></li>
                <li><i class="fa fa-fw fa-linkedin"></i> <a href="http://nz.linkedin.com/in/jackcruden">LinkedIn</a></li>
                <li><i class="fa fa-fw fa-github"></i> <a href="http://github.com/jackcruden">GitHub</a></li>
            </ul>
        </div>
    </div>

    <hr>

    <br>

    <div class="row">
        <div class="col-lg-12 text-center">
            <p>Copyright &copy; <a href="mailto:{{ site.email }}">{{ site.author }}</a> {{ site.time | date: '%Y' }}</p>
        </div>
    </div>
    <!-- /.row -->
</footer>