<!-- Navigation -->
<!--<nav class="navbar navbar-default navbar-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                {% for my_page in site.pages %}
                    {% if my_page.title %}
                        <li>
                            <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>-->

<div id="jumbotron" class="jumbotron" style="padding-top: 100px; padding-bottom: 100px; background-color: rgba(0, 0, 0, 0.2);">
    <div class="container">
        <h1 class="text-center" style="color: white; text-shadow: 0 0 20px black;">Jack Cruden</h1>
        <p class="text-center" style="color: white; text-shadow: 0 0 20px black;">A creative living in Wellington, New Zealand.</p>
    </div>
</div>

<canvas id="world" height="330" style="position: absolute; top: 0; z-index: -9;" resize="true"></canvas>